@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #F85606; /* Your base primary color */
  --primary-dark: #b24005; /* Darker shade */
  --primary-light: #ff6e38; /* Lighter shade */
  --secondary: #141414;
  --third: #FEF6F7;
  --last: #FFFDF7;
  /* --primary: #00CF5D; */
}

/* You can use these variables for styling elements */
.gradient-background {
  background: linear-gradient(var(--primary-dark), var(--primary), var(--primary-light));
}
.gradient-color {
  color: linear-gradient(var(--primary-dark), var(--primary), var(--primary-light));
}

.title{
  @apply text-3xl font-bold
}


*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-200 dark:bg-slate-800 text-gray-800 dark:text-white
}
.nav-item{
  @apply hover:bg-slate-200 py-2 px-3 h-10 rounded-lg hover:text-primary cursor-pointer hover:border-none transition-colors delay-200
}

p{
  @apply my-2
}

.hero-section {
  background: linear-gradient(135deg, #FF6B6B, #6B47FF);
  color: white; /* Set the text color to contrast with the background */
  padding: 100px; /* Adjust padding as needed */
  text-align: center;
}

.bgd-primary{
  @apply bg-slate-100 dark:bg-slate-800
}


.carousel * {
  box-sizing: border-box;
  height: 65vh;
  object-fit: cover;
  border-radius: 25px;}

.thumbs-wrapper, .control-dots, .legend {
  display: none !important;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


